{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}
{% from "_formhelpers.html" import render_field %}
{% include "_messages.html" %}
<div class="form-container-login">
    <legend>Přihlášení</legend>
        <form action="" method="POST">
            {{ form.csrf_token }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                <p><input  class="btn btn-hover" type=submit value="Přihlásit se"></p>
        </form>
        <div>
            <small class="register-me">Nemáte účet?<a href="{{ url_for('customer_register') }}">Zaregistrujte se</a></small>
        </div>
</div>


{% endblock content %}
